<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Bucket</title>
</head>
<body>
    <h2>Create New Bucket </h2>
    <br>
    <form action="/bucket/create" method="POST">
        <input type="text" name="Name" placeholder="Enter unique Bucket Name in small case">
        <br>
        <br>
        <input type="text" name="Region" placeholder="Enter Region name">
        <br>
        <br>
        <input type="submit" value="Submit" name="submit">
    </form>
</body>
</html>